# Laravel
/vendor/
/node_modules/
/bootstrap/cache/
/storage/*.key
/storage/app/public/*
/storage/framework/*
/storage/logs/*
/public/storage
/public/hot
/public/build
.env
.env.*
.phpunit.result.cache

# SSL/Keys/Backups
*.pem
*.crt
*.key
*.p12
*.pfx
*.der
*.bundle
*.sql
*.dump
*.bak
*.tgz
*.tar.gz

# IDE/OS
/.idea/
/.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Vite/Tailwind
/.cache
/.vite

# VSCode helpers
.vscode/

# PostgreSQL
/.dumps/

# Tails
/.tails/
.tails/
